<div class="profile-container">
  <mat-card class="profile-card">
    <mat-card-header>
      <mat-card-title>個人資料</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <mat-tab-group animationDuration="0ms">
        <!-- 基本資料 -->
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon>person</mat-icon>
            基本資料
          </ng-template>

          <div class="tab-content">
            <div class="avatar-section">
              <div class="avatar-container">
                <img [src]="avatarUrl || 'https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mp&f=y'" 
                     alt="用戶頭像"
                     class="avatar-img">
                <button mat-mini-fab 
                        color="primary" 
                        class="change-avatar-button"
                        (click)="triggerFileInput()">
                  <mat-icon>edit</mat-icon>
                </button>
              </div>
              <input type="file" 
                     #fileInput 
                     hidden 
                     accept="image/*"
                     (change)="onFileSelected($event)">
            </div>

            <div class="form-fields">
              <mat-form-field appearance="outline">
                <mat-label>顯示名稱</mat-label>
                <input matInput [(ngModel)]="displayName">
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>電子郵件</mat-label>
                <input matInput [(ngModel)]="email" readonly>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>手機號碼</mat-label>
                <input matInput [(ngModel)]="phone">
              </mat-form-field>

              <button mat-raised-button 
                      color="primary"
                      (click)="saveProfile()">
                儲存變更
              </button>
            </div>
          </div>
        </mat-tab>

        <!-- 修改密碼 -->
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon>lock</mat-icon>
            修改密碼
          </ng-template>

          <div class="tab-content">
            <div class="form-fields">
              <mat-form-field appearance="outline">
                <mat-label>目前密碼</mat-label>
                <input matInput 
                       type="password" 
                       [(ngModel)]="currentPassword">
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>新密碼</mat-label>
                <input matInput 
                       type="password" 
                       [(ngModel)]="newPassword">
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>確認新密碼</mat-label>
                <input matInput 
                       type="password" 
                       [(ngModel)]="confirmPassword">
              </mat-form-field>

              <button mat-raised-button 
                      color="primary"
                      (click)="changePassword()">
                更新密碼
              </button>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>